# Backend Codeowners
/apps/backend/ @Ilanea @mariobedenk @Janok321
/apps/backend-e2e/ @Ilanea @mariobedenk @Janok321

# Hotel Frontend Codeowners
/apps/frontend-hotel/ @ghostsxxx @Obanzi @ZELLECH @DominikB90 @ChrisCodeKing @pascalexander @Ilanea

# Users Frontend Codeowners
/apps/frontend-user/ @ek0402 @ep2277 @Janok321 @Tixerio @nix9n

# Libraries
/libs/ @ghostsxxx @Ilanea